# Node.js
node_modules/
npm-debug.log/
lib/

.yarn

picomamba/libs/
picomamba/lib/
picomamba/wasm-picomamba/

tsconfig.tsbuildinfo

# Generated code
src/conda-packages-solver/core.js
src/conda-packages-solver/core.wasm
